.chatPage{
    width:24.6vw;
    height: 35vw;
    border-radius: 60px;
}
.chatBox{
    margin: 5px;
    height: 90%;
}

.chatContainer{
    background-color: rgb(39, 39, 48);
    height: 100%;
    width: 24.6vw;
    border-radius: 10px;
    overflow-y: auto;
}

.inputBox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    border-radius:8px;
}

#chatInput{
   
    width: 95%;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vmax;
    margin-right: 2px;
    padding-left: 10px;
}


.sendBtn{
    background: none;
    font-weight:500;
    border: none;
    width: 15%;
    height: 45px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s;
    border-radius: 10px;
}

.sendBtn>img{
    width: 2.6vmax;
    /* filter:brightness(100) invert(); */
    transition: all 0.3s;
}

.sendBtn:hover img{
    transform: translateX(10px);
}