.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.formWrapper {
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 30px;
}

.heading{
    margin-top: 20px;
}

.head{
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.subHead{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #60dde1;
}
.headerPart{
    display: flex;
    flex-direction: row;
}

.inputBox1 {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #60dde1;
    width: 150px;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #49889c;
}

.room{
    margin-right: 100px;
}

.buttons{
    display: flex;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.mainWrap {
    display: grid;
    grid-template-columns: 1370px 1fr;
}

.aside {
    background: rgb(33, 35, 42);
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
}

.CodeMirror {
    min-height: calc(100vh - 40px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}

.CodeMirror .CodeMirror-scroll {
    overflow: hidden !important;
}

.upperSide{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttonContainer{
    height: 20%;
    margin-top: 0.1x;
    display: flex;
    flex-direction: row;
}

.buttonImg1{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 5px;
    margin-left: 30px;
}
.buttonImg1:hover{
    filter:brightness(100) invert();
}
.buttonImg2{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 5px;
}
.buttonImg2:hover{
    filter:brightness(100) invert();
}
.roomidBox{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(198, 198, 198);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4vmax;
    margin-right: 1px;
    /* margin-left: 50px; */
    padding-left: 10px;
    cursor: pointer;
}